<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    AddType image/png .png
    RewriteRule ^favicon\.png$ favicon.png [L,NC]
    RewriteRule ^ninjaProfile\.png$ ninjaProfile.png [L,NC]
    RewriteRule ^(styles|images|js|fonts) - [L]
    RewriteRule ^ index.php [L]
</IfModule>
